# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Dependency directories
node_modules/

# OS files
.DS_Store
Thumbs.db

# Build folder
dist/
build/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.test
.env.production

# Neon 
.agents/
.skills/
skills-lock.json